<div class="master">
  <div class="head">
    <h1>Search Criteria</h1>
  </div>
  <section>
    <div class="proyect-select">
      <label for="proyect">Proyect</label>
      <select id="proyect" formControlName="proyect">

      </select>
    </div>

    <form class="form-class" method="post">
      <div class="attributeForm">
        <label for="idLiquidacion">Id Liquidación:</label><br>
        <input type="text" id="idLiquidacion" name="idLiquidacion"><br>
      </div>

      <div class="attributeForm">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
      </div>

      <div class="attributeForm">
        <label for="transaccion">Transacción:</label><br>
        <input type="text" id="transaccion" name="transaccion"><br>
      </div>

      <div class="attributeForm">
        <label for="fecha">Fecha:</label><br>
        <input type="date" id="fecha" name="fecha"><br>
      </div>

      <div class="attributeForm">
        <label for="status">Status:</label><br>
        <select id="status" name="status">
      </select><br><br>
      </div>

  </form>
  </section>
  <div class="navigation">
    <button class="submit" type="submit" [disabled]="!form.valid">Search</button>
    <button class="save" type="button" (click)="onSave()">Save Search</button>
  </div>
</div>
