<div class="container">
  <header>
    <h1>Search Criteria</h1>
  </header>
  <main>
    <div class="project-select">
      <label for="project">Project</label>
      <select id="project" formControlName="project"></select>
    </div>

    <form class="form-class" method="post">
      <div class="form-group">
        <label for="idLiquidacion">Id Liquidación:</label>
        <input type="text" id="idLiquidacion" name="idLiquidacion">
      </div>

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
      </div>

      <div class="form-group">
        <label for="transaccion">Transacción:</label>
        <input type="text" id="transaccion" name="transaccion">
      </div>

      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha">
      </div>

      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" name="status"></select>
      </div>

      <div class="navigation">
        <button class="btn submit" type="submit" [disabled]="!form.valid">Search</button>
        <button class="btn save" type="button" (click)="onSave()">Save Search</button>
      </div>
    </form>
  </main>
</div>
