<div class="container">
  <header>
    <h1>File Entry</h1>
  </header>
  <main>
    <div class="project-select">
      <label for="project">Project</label>
      <select id="project" formControlName="project"></select>
    </div>

    <div class="boxform">
      <form class="form-class" method="post">
        <div class="form-group">
          <label for="idLiquidacion">Id Liquidación:</label>
          <input type="text" id="idLiquidacion" name="idLiquidacion">
        </div>

        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre">
        </div>

        <div class="form-group">
          <label for="transaccion">Transacción:</label>
          <input type="text" id="transaccion" name="transaccion">
        </div>

        <div class="form-group">
          <label for="fecha">Fecha:</label>
          <input type="date" id="fecha" name="fecha">
        </div>

        <div class="form-group">
          <label for="status">Status:</label>
          <select id="status" name="status"></select>
        </div>
      </form>

      <div class="uploadfile">
        <div class="containerfile">
          <label for="file">Document Status</label>
          <input type="file" id="file" name="file">
        </div>
      </div>
    </div>
  </main>
  <div class="navigation">
    <button class="btn submit" type="submit">Save</button>
    <button class="btn save" type="button">Save Search</button>
    <button class="btn cancel" type="button">Cancel</button>
  </div>
</div>
